// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'home';
@import 'list_of_stock';
@import 'stock_modal';
@import 'sidebar';

// Line-height
$headings-line-height: 1.5;
$line-height-base: 1.65;

// Colors
$purple:  rgba(184, 172, 200);
$dark-purple: rgba(126, 109, 157);
$letter: rgba(124, 124, 124);
$white: rgba(236, 235, 234);
$blue: rgba(179, 211, 219);
$grey: rgba(105, 138, 151);

// Font-family
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

// IE hack
@media all and (-ms-high-contrast: none) {
  body,
  tooltip,
  popover {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

// modal-padding


// Bootstrapのscssを読み込む
@import '~bootstrap/scss/bootstrap';

body {
  letter-spacing: 0.1em;
  text-align: justify;
}
.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $white;
    }
  }
}

.navbar {
  height: 110px;
  background-color: $grey;
  width: 100%;
}
