.edit-form {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.edit-img {
  width: 310px;
  height: 350px;
  margin-bottom: 40px;
  border-radius: 10px;
}
.stock-group {
  margin-bottom: 15px;
}
