#calendar {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 10px;
}
.fc-left {
  h2 {
    margin-left: 15px;
  }
}
.calendar-modal {
  color: $dark-purple;
  &:hover {
    color: $white
  }
}
// modal
.tasks-group input[type="checkbox"] {
  display: none;
  label {
    position: relative;
    padding: 0 0 0 42px;
  }
}
.tasks-group input[type="checkbox"] label::after {
  position: absolute; /* ボックスの位置を指定する */
  content: ""; /* ボックスのコンテンツ */
  display: block; /* ブロックレベル要素化する */
  top: 50%; /* 上部から配置の基準位置を決める */
  left: 15px; /* 左から配置の基準位置を決める */
  margin-top: -10px; /* チェック枠の位置 */
  width: 15px; /* ボックスの横幅を指定する */
  height: 15px; /* ボックスの高さを指定する */
  border: 2px solid $blue; /* ボックスの境界線を実線で指定する */
  border-radius: 6px;
}
.tasks-group {
  input[type="text"], input[type="date"] {
    margin-bottom: 15px;
    background: #fff;
    border: none;
    border-bottom: 2px solid $blue;
  }
}
.task-form {
  margin-bottom: 15px;
}
.modal__btn .modal__btn-primary {
  width: 80px;
  padding: 10px 6px;
  margin: 0 0 0 auto;
  border: none;
  background-color: $blue;
  line-height: 1;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    opacity: .5;
  }
}
.modal-btn {
  display: flex;
}
.modal__btn {
  margin: 0 0 0 auto;
  font-weight: 400;
}
