#calendar {
  width: 88%;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 10px;
}
.fc-left {
  h2 {
    margin-left: 15px;
  }
}
.calendar-modal {
  color: $dark-purple;
  &:hover {
    color: $white
  }
}
// modal
.tasks-group {
    input[type="text"], input[type="date"] {
    width: 250px;
    padding: 0;
    border-bottom: 1px solid $black;
  }
  input[type="date"] {
    margin-bottom: 27px;
  }
  input[type="checkbox"] {
    margin-right: 5px;
  }
}
.tasks-group label {
  display: inline-block;
  margin-right: 20px;
}
.task-form {
  margin-bottom: 20px;
}
button.modal__btn.modal__btn-primary.mr-3 {
  width: 80px;
  padding: 10px 6px;
  line-height: 1;
  background-color: $blue;
  color: $black;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    opacity: .5;
  }
}
.modal-btn {
  display: flex;
  justify-content: flex-end;
}
