#calendar {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 10px;
}
.fc-left {
  h2 {
    margin-left: 15px;
  }
}
.calendar-modal {
  color: $dark-purple;
  &:hover {
    color: $white
  }
}
