
// article
article {
  margin: 0 auto;
}
.list {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}
.stock-items {
  width: 250px;
  height: 350px;
  text-decoration: none;
  box-shadow: 5px 5px 10px #ccc;
  background-color: #fff;;
  border-radius: 20px;
  img {
    height: 260px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    box-shadow: 5px 0 10px #ccc;
  }
  a {
    color: $letter;
    text-decoration: none;
  }
}
.marker {
  background: linear-gradient(transparent 65%, $blue 65%);
  font-weight: bold;
}

// aside
.nav-title {
  p {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    font-size: 15px;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 35px;
      height: 1px;
      background-color: $letter;
    }
  }
}
.nav-title,p:before {
  left:0;
}
.nav-title,p:after {
  right: 0;
}
