.wish-list {
  width: 910px;
  height: 190px;
  display: flex;
}
.table {
  font-size: 20px;
  background-color: #fff;
  img {
    width: 140px;
    height: 130px;
  }
}
.arrow-color {
  color: $letter;
}
