.new-item-list {
  width: 950px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
  th {
    background-color: $letter;
    padding: 12px;
    color: #fff;
    font-size: 14px;
  }
  td {
    padding: 12px;
    font-size: 18px;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
.arrow-color {
  color: $letter;
}
