.show-detail {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}
.show-img-form {
  margin-bottom: 30px;
  margin-right: 20px;
}
.show-img {
  width: 310px;
  height: 350px;
  border-radius: 10px;
}
.show-btn {
  display: flex;
  justify-content: flex-end;
  .submit-btn {
    margin-right: 10px;
  }
}
table {
  width: 450px;
  margin: 60px 15px 45px 0;
}
table tr {
  margin-bottom: 15px;
}
table th, td {
  padding: 20px 5px 5px 5px;
  border-bottom: 1px solid $grey;
}
