// ロゴ
.logo {
  margin-top: 100px;
  img {
    width: 200px;
    height:100px;
  }
}
//　nav
.nav-link {
  color: #212529;
  &:hover {
    color: #212529;
    opacity: .5;
  }
}
//　ログアウト
.dropdown-item {
  background: $purple;
}
.logout a {
  color: $black;
  a:hover {
    color: $black;
    opacity: .5;
  }
}
